.home-page__main {
  --normal: #bfb97f;
  --normal-gradient: linear-gradient(var(--normal), #ceca9b);

  --fighting: #d32f2e;
  --fighting-gradient: linear-gradient(var(--fighting), #cf4e4e);

  --flying: #9e87e1;
  --flying-gradient: linear-gradient(var(--flying), #a595db);

  --poison: #aa47bc;
  --poison-gradient: linear-gradient(var(--poison), #af5fbd);

  --ground: #dfb352;
  --ground-gradient: linear-gradient(var(--ground), #dbbf82);

  --rock: #bda537;
  --rock-gradient: linear-gradient(var(--rock), #bdab5e);

  --bug: #98b92e;
  --bug-gradient: linear-gradient(var(--bug), #b0c95f);

  --ghost: #7556a4;
  --ghost-gradient: linear-gradient(var(--ghost), #8975a7);

  --steel: #b4b4cc;
  --steel-gradient: linear-gradient(var(--steel), #9486aa);

  --fire: #e86513;
  --fire-gradient: linear-gradient(var(--fire), #e48042);

  --water: #2196f3;
  --water-gradient: linear-gradient(var(--water), #4ea7f0);

  --grass: #4cb050;
  --grass-gradient: linear-gradient(var(--grass), #64aa66);

  --electric: #d3ab09;
  --electric-gradient: linear-gradient(var(--electric), #dfbc30);

  --psychic: #d14473;
  --psychic-gradient: linear-gradient(var(--psychic), #d87093);

  --ice: #80deea;
  --ice-gradient: linear-gradient(var(--ice), #a5e1e9);

  --dragon: #673bb7;
  --dragon-gradient: linear-gradient(var(--dragon), #7e5dbb);

  --dark: #5d4038;
  --dark-gradient: linear-gradient(var(--dark), #5f4e49);

  --fairy: #f483bb;
  --fairy-gradient: linear-gradient(var(--fairy), #eea2c8);
}

.normal {
  background: var(--normal);
}

.normal .home-page__content {
  background: var(--normal-gradient);
}

.fighting {
  background: var(--fighting);
}

.fighting .home-page__content {
  background: var(--fighting-gradient);
}

.flying {
  background: var(--flying);
}

.flying .home-page__content {
  background: var(--flying-gradient);
}

.poison {
  background: var(--poison);
}

.poison .home-page__content {
  background: var(--poison-gradient);
}

.ground {
  background: var(--ground);
}

.ground .home-page__content {
  background: var(--ground-gradient);
}

.rock {
  background: var(--rock);
}

.rock .home-page__content {
  background: var(--rock-gradient);
}

.bug {
  background: var(--bug);
}

.bug .home-page__content {
  background: var(--bug-gradient);
}

.ghost {
  background: var(--ghost);
}

.ghost .home-page__content {
  background: var(--ghost-gradient);
}

.steel {
  background: var(--steel);
}

.steel .home-page__content {
  background: var(--steel-gradient);
}

.grass {
  background: var(--grass);
}

.grass .home-page__content {
  background: var(--grass-gradient);
}

.fire {
  background: var(--fire);
}

.fire .home-page__content {
  background: var(--fire-gradient);
}

.water {
  background: var(--water);
}

.water .home-page__content {
  background: var(--water-gradient);
}

.electric {
  background: var(--electric);
}

.electric .home-page__content {
  background: var(--electric-gradient);
}

.psychic {
  background: var(--psychic);
}

.psychic .home-page__content {
  background: var(--psychic-gradient);
}

.ice {
  background: var(--ice);
}

.ice .home-page__content {
  background: var(--ice-gradient);
}

.dragon {
  background: var(--dragon);
}

.dragon .home-page__content {
  background: var(--dragon-gradient);
}

.dark {
  background: var(--dark);
}

.dark .home-page__content {
  background: var(--dark-gradient);
}

.fairy {
  background: var(--fairy);
}

.fairy .home-page__content {
  background: var(--fairy-gradient);
}
